{# src/Autoecole/MainBundle/Resources/views/Default/accueil.html.twig #}
{# {% extends "AutoecoleMainBundle::layout.html.twig" %} #}


{% block accueil %}
<p>Histoire sur GREG</p>
<img class="greg_profil" src="{{ asset('bundles/autoecole/images/greg_profile.jpg') }}" alt="Frais de meudon"> 
{% endblock %}